@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #43c5c3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h1 {
  font-family: "Karantina", cursive;
  font-weight: 400;
  font-size: 45px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #000;
}

p {
  font-family: "Karantina", cursive;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7920f;
  background-image: url("./assets/movie-template.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  height: 100vh; 
}

.question-container,
.start-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #f7920f;
  border: 3px solid #fff;
  border-radius: 20px;
  padding-bottom: 30px;
  box-shadow: 4px 4px 4px rgb(80, 80, 80);
}

.start-page-container {
  width: 60%;
}

.question-container {
  padding: 20px;
}

.text-container {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 20px;
  padding: 10px;
  font-family: "Karantina", cursive;
  font-size: 20px;
  background-color: #f1c37c;
}

button:hover {
  background-color: #ad9063;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000;
  font-family: "Karantina", cursive;
  font-size: 25px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.lottieContainer {  
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.summary {
  background-color: #f7920f;
  border: 3px solid #fff;
  border-radius: 20px; 
  box-shadow: 4px 4px 4px rgb(80, 80, 80);
  padding: 10px;
  text-align: center;
}

.summary p, 
.summary h1 {
  margin: 10px;
}

.summary-emoji {
  margin: 30.15px 3px;
  font-size: 30px;
  margin: 5px;
}

.feedback-text {
  font-weight: 400;
  padding: 5px;
}

.text-and-emoji-container {
  display: flex;   
  justify-content: center;
}

.emoji {
  margin: 30.15px 3px;
  font-size: 30px;
}

.feedback-emoji {
  color: red;
  font-size: 40px;
}

.feedback-emoji-correct {
  font-size: 30px;
}

.summary-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.your-answer-text {
  font-weight: 400;
}

@media screen and (max-width: 1600px) {

  .summary h1 {
    font-size: 40px;
  }

  .summary p {
    font-size: 25px;
  }

  .feedback-emoji {
    font-size: 30px;
  }

  .feedback-emoji-correct {
    font-size: 20px;
  }

}

@media screen and (max-width: 1224px) {

  .summary p, 
  .summary h1 {
    margin: 15px;
  }

  .summary p {
    font-size: 30px;
  }

  .summary h1 {
    font-size: 45px;
  }

  .feedback-emoji {
    font-size: 40px;
  }

  .feedback-emoji-correct {
    font-size: 30px;
  }

  .feedback-text {
    padding: 0px;
  }

}

@media screen and (max-width: 480px) {

  .summary p {
    font-size: 25px;
  }

  .feedback-emoji {
    font-size: 30px;
  }

  .feedback-emoji-correct {
    font-size: 20px;
  }

}